<!DOCTYPE html>
<html>
  <head>
    <title>Question Reply</title>
  </head>
  <body>
    <h1>Hello <%= name %>,</h1>
    <p>Your question in the course "<%= title %>" has received a reply:</p>
    <p><%= answer %></p>
  </body>
</html>
